@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

#navbar {
  background-color: rgb(29, 37, 29);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
  position: sticky;
}

#logo img {
  height: 90px;
  border-radius: 45px;
}

#navbar ul {
  list-style: none;
  display: flex;
}

#navbar ul li {
  margin-left: 53px;
}

#navbar ul li a {
  text-decoration: none;
  color: white;
}

#navbar ul li a:hover {
  color: orange;
}

#home {
  background:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("img/food-delivery-9737957_1280.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.des {
  margin-left: 60px;
  max-width: 500px;
  color: white;
}

.des h1 {
  font-size: 44px;
  margin-bottom: 10px;
}

.des p {
  font-size: 18px;
  margin-bottom: 20px;
  color: tomato;
}

.des span {
  color: #ffb703;
}

.des button {
  background-color: green;
  color: white;
  border: none;
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 6px;
}

.des button:hover {
  background-color: darkgreen;
}

#services-container {
  padding: 60px 40px;
  background-color: #eee;
}

#services-container h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

.service-container {
  display: flex;
  justify-content: center;
  gap: 90px;
}

.service-box {
  width: 348px;
  min-height: 400px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #222;
  border-radius: 25px;
  text-align: left;
  box-sizing: border-box;
}

.service-box img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  margin-bottom: 15px;
}

.service-box h3 {
  margin-bottom: 10px;
}

.service-box p {
  font-size: 15px;
  line-height: 1.6;
  color: rgb(63, 66, 38);
  font-weight: 400;
}

.menu-section {
  padding: 60px 20px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.menu-heading {
  width: 100%;
  text-align: center;
  font-family: "Cinzel", serif;
}

.menu-img {
  height: 500px;
  margin-right: 40%;
}

.menu2 {
  display: flex;
  height: 500px;
}

.contact-section {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: url("img/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-container {
  min-width: 634px;
  padding: 50px;
  border-radius: 12px;
  text-align: center;
}

.contact-container h1 {
  font-size: 42px;
  margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
  width: 50%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}


.contact-form button {
  width: 50%;
  padding: 14px;
  background: #1d2671;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #16205a;
}
